<h1> HANGMAN! </h1>
<form action="/" method="post">
<input type="text" name="guess" placeholder="Enter a Letter" />
 <button type="submit">Submit</button>
 <button type="button" name="button"><a href="/start/">New Game</a></button>
</div>


 {{Right}}
 {{Wrong}}
 {{Word}}
{{Outcome}}
{{wordsGuessed}}